JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=

# SEED DEL PRIMER ADMIN RH
ADMIN_RH_CORREO=
ADMIN_RH_NOMBRE=
ADMIN_RH_PASSWORD=

# LOGIN DEL ROBOT CONTRA /api/login
# Deben coincidir con el usuario admin creado
ROBOT_API_CORREO=
ROBOT_API_PASSWORD=
API_LOGIN_URL=

ALLOWED_ORIGINS=

# Configuración de almacenamiento externo
STORAGE_PATH=