# Entornos virtuales
venv/
env/

# Variables de entorno (¡Secretos!)
.env

# Archivos cacheados de Python
__pycache__/
*.pyc

# Configuración de VS Code
.vscode/

# Ignorar facturas de prueba
*.xml

#Ignorar expedientes PDF
expedientes_pdf/